* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/background.jpg") #dddddd;
    max-width: 2000px;
    margin: 0 auto;
}

.home-start {
    width: 70px;
    position: fixed;
    top: 150px;
    left: 5px;
}
.home-start img {
    width: 100%;
}
.container {
    width: 70%;
    margin: 0 auto;
}

.menu li:after,
.header:after,
.content:after,
.cookies:after,
.biscuit:after{
    clear: both;
    display: block;
    content: " ";
}

.header {

    margin-top: 30px;

}

.line {
    border-top: solid 1px #d4d2d2;
    border-bottom: solid 1px #fefefe;
    display: inline-block;
    width: 100%;


}

.logo {
    float: left;
    margin-bottom: 2px;
    width: 40%;

}

.menu {
    float: right;
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    width: 60%;

}

.menu li {
    display:block;
    width: 25%;
    padding-top: 14px;
    float: left;
text-align: center;
}

.menu a {
    text-decoration: none;
    color: #5f5f5f;
}

.menu a:hover {
    color: #f87f12;
}


.content:nth-child(2) {
    margin-top: 47px;
}

.content:nth-child(2) .line,
.content:nth-child(3) .line{
    margin-top: 36px;
}

.content:nth-child(3){
    margin-top: 19px;
}

.content:nth-child(4) {
    margin-top: 25px;
    margin-bottom: 53px;
}

.cookie {
    float: left;
    width: 29.4%;
    padding: 9px 10px 5px;
    text-align: center;

    background-color: #ffffff;

    box-sizing: border-box;
}
.cookie .biscuit:first-child {
    display: inline-block;
    width: 100%;
    float: none;
    margin: 0;
}
.cookie .biscuit {
    float: left;
    width: 28.6%;
    box-sizing: border-box;
    margin: 1.5% 6.2% 0 0.4%;
}

.cookie .biscuit:nth-child(4) {
    margin: 0.8% 0 0 0.8%;
}

.cookie .biscuit:hover ~ .link a,
.cookie .link:hover a{
    color: orange;
}

.biscuit img{
    width: 100%;
}
.link{
    width: 100%;
    display: inline-block;
}
.cookie .biscuit:hover a {
    color: #ff131d;
}
.link a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: 'Rokkitt', serif;
    color: #979595;
}
.text {
    float: right;
    width: 70%;
    color: #838282;
    font-family: 'Rokkitt', serif;
    font-size: 14px;
    padding-left: 50px;
    box-sizing: border-box;
    line-height: 22px;

}



.text p {
    color: #f87f12;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.continuance {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.continuance li {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

.continuance a {
    text-decoration: none;
    color: #f87f12;

}

footer {
    padding-bottom: 150px;
    margin-top: 80px;
}

.menu_footer li a {
    color: #5f5f5f;
    text-decoration: none;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 10px;

}

.menu_footer li {
    display: inline;
}

.menu_footer {
    float: left;
    width: 30%;
    list-style-type: none;
    padding-left: 70px;
    box-sizing: border-box;
}

.footer_text {
    float: left;
    color: #5f5f5f;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 10px;
    width: 40%;
    text-align: center;
    padding-top: 5px;

}

.social_network {
    float: right;
    width: 30%;
    font-size: 30px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
}

.icon {
   width: 33.333%;
    float: left;

}

.social_network a {
    color: #5f5f5f;
}

/*home*/
.free_text {
    width: 50%;
    float: left;
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    margin-top: 85px;
    line-height: 23px;
}

.free_text p {
    font-family: 'Rokkitt', serif;
    color: #f87f12;
    font-size: 36px;
    margin-bottom: 25px;
}

.house {
    width: 50%;
    float: right;

}

.house img {
    padding-left: 75px;
    box-sizing: border-box;
}
.cookies {
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
    width: 100%;

}
.img_cookie{
    border: solid 1px #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}
.img_cookie p{
    text-align: center;
    font-size: 14px;
    font-family: 'Rokkitt', serif;
    padding: 20px 10px 10px 10px;
    color: #838282;
    line-height: 20px;

}
.img {
    float: left;
    width: 33.333%;
    padding-right: 18px;
    padding-left: 18px;
    box-sizing: border-box;

}

.text .nev_tab {
    position: relative;
    top: 15px;
    left: 16px;
}



.img .nev_tab {
    text-align: center;
}

.img .nev_tab i {
    text-align: center;
    padding-top: 20px;
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    color: #7a7a7a;
}
.form {
    text-align: center;
    padding-right: 40px;
    box-sizing: border-box;
}
input {
    padding: 12px 55px;
    background-color: #f87f12;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    margin-top: 35px;
}
/*about*/
.about_text {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    line-height: 23px;
    margin-top: 35px;
}

.about_text p {
    font-weight: bold;
}

/*mobiles styles*/
@media only screen and (max-width: 480px) {
    .container {
        width: 90%;
    }

    .logo {
        width: 100%;
        text-align: center;
        float: none;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 0;

    }

    .content {
        width: 100%;
        text-align: center;
    }

    .cookie {
        width: 300px;
        float: none;
        display: inline-block;
    }



    .text {
        width: 100%;
        float: none;
        padding: 0;
        margin-top: 30px;
    }

    .text p {
        text-align: center;
    }

    .img {
        text-align: center;
    }

    .img .nev_tab {

        text-align: center;

    }

    .nev_tab img {
        margin: 0 auto;
        padding: 0;
        display: block;
    }

    .menu_footer,
    .footer_text,
    .social_network {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    /*home*/
    .free_text,
    .house {
        width: 100%;
        float: none;
    }

    .free_text p {
        font-size: 20px;
        text-align: center;
    }

    .img {
        width: 100%;
    }

    .form {
        padding: 0;
    }

    .house {
        margin-top: 50px;
    }

    .house img {
        width: 100%;
        padding-left: 0;

    }
    .img_cookie{
        width: 280px;
        margin: 0 auto;
    }
    .nev_tab p {
        padding-bottom: 50px;
    }

    .social_network {
        margin-top: 10px;
    }

    .menu_footer {
        padding-bottom: 10px;
    }
}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .logo {
        width: 100%;
        text-align: center;
        float: none;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 0;

    }

    .content {
        width: 100%;

        text-align: center;
    }

    .cookie {
        width: 300px;
        float: none;
        display: inline-block;
    }
    .img_cookie{
        width: 280px;
        margin: 0 auto;
    }
    .text {
        width: 100%;
        float: none;
        padding: 0;
        margin-top: 30px;
    }

    .text p {
        text-align: center;
    }

    .img {
        text-align: center;
    }

    .img .nev_tab {

        text-align: center;
        width: 100%;
    }

    .nev_tab img {
        margin: 0 auto;
        padding: 0;
        display: block;

    }

    .menu_footer,
    .footer_text,
    .social_network {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    /*home*/
    .free_text,
    .house {
        width: 100%;
        float: none;
    }

    .free_text p {
        font-size: 30px;
        text-align: center;
    }

    .img {
        width: 100%;
    }

    .form {
        padding: 0;
    }

    .house {
        margin-top: 50px;
        text-align: center;

    }

    .house img {
        width: 50%;
        padding-left: 0;

    }

    .nev_tab p {
        padding-bottom: 50px;
    }

    .social_network {
        margin-top: 10px;
    }

    .menu_footer {
        padding-bottom: 10px;
    }
}

/*desktop styles*/
@media only screen and (min-width: 769px) {

}

@media only screen and (min-width: 769px) and (max-width: 1200px) {



    .cookie img {
        width: 100%;
    }

    .menu_footer {
        padding-left: 0;
    }



    .house img {
        padding-left: 10px;
        width: 100%;
    }

    .img_cookie img {
        width: 100%;

    }

    .img {
        padding-right: 7px;
        box-sizing: border-box;
    }
}